
<div class="navbar">
  <a><i class="fa fa-ambulance" style="font-size:130%"></i><i class="fa fa-heart" style="font-size:130%"></i></a>
  <a style="padding-left: 70px"></a>
  <%= link_to "Home", root_path %>
  <%= link_to "Records", site_records_path %>
  <%= link_to "Prescriptions", site_prescriptions_path %>
  <%= link_to "Clinics", site_findClinics_path %>
  <%= link_to "Support", site_accountSupport_path %>
  <%= link_to "Feedback", site_feedback_path %>
  <a href="#account">Account</a>
  <div class="dropdown">
    <button class="dropbtn">Dropdown
      <i class="fa fa-caret-down"></i>
    </button>
    <div class="dropdown-content">
      <%= link_to "High Visibility", site_highVisibility_path %>
      <%= link_to "Loved Ones", site_lovedOnes_path %>
      <%= link_to "Notifications", site_notifications_path %>
    </div>
  </div>

  <a><i class="fa fa-microphone" style="font-size:120%"></i></a>

  <div class="search-container">
    <form action="/action_page.php">
      <input type="text" placeholder="Search.." name="search">
      <button type="submit"><i class="fa fa-search"></i></button>
    </form>
  </div>
</div>


<div id="mainImg">
  <div id="bodyImage1">
    <!-- From https://www.cushmancreative.com/biotech-branding-designing-a-positive-online-experience-for-patients/ -->
    <%= image_tag("happyFam.jpg", :alt => "Happy Family")%>
  </div>

  <div id="bodyImage2">
    <%= image_tag("niceDoctors.jpg", :alt => "Friendly Doctors")%>
  </div>
</div>

<div class="mainContent">
    <p>Helping families all over Australia by making their lives that much easier</p>

    <div class="option1">
      <%= image_tag("Records.jpg", :alt => "Records", :class => "overlayImg")%>
      <div class="overlay">
        <div class="overlayText"><%= link_to "Records", site_records_path %></div>
      </div>
   </div>

    <div class="option2">
      <%= image_tag("feedback.jpg", :alt => "Feedback", :class => "overlayImg")%>
      <div class="overlay">
        <div class="overlayText"><%= link_to "Feedback", site_feedback_path %></div>
      </div>
    </div>

    <div class="option3">
      <%= image_tag("accountSupport.png", :alt => "Account Support", :class => "overlayImg")%>
      <div class="overlay">
        <div class="overlayText"><%= link_to "Account Support", site_accountSupport_path %></div>
      </div>
    </div>
</div>
